
.swiper {
  --swiper-pagination-color: #51a2ff; /* Active bullet color */
  --swiper-pagination-bullet-inactive-color: #999; /* Inactive bullet color */
  --swiper-pagination-bullet-size: 8px; /* Bullet size */
  --swiper-pagination-bullet-horizontal-gap: 8px; /* Horizontal gap */
  --swiper-pagination-bullet-vertical-gap: 6px;   /* Vertical gap */
}
/* .info-card {
  
} */



  
    
 .icon-wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.modal {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal.show {
  opacity: 1;
}